<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servletapp27</display-name>
  <servlet>
    <description></description>
    <display-name>ServletApp27</display-name>
    <servlet-name>ServletApp27</servlet-name>
    <servlet-class>com.servletapp27.servlet.ServletApp27</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletApp27</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
    <error-page>
      <exception-type>java.lang.ArithmeticException</exception-type>
      <location>/error.html</location>
        </error-page>
      
    
  
</web-app>