<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>ServletApp02</servlet-name>
    <servlet-class>com.servletapp02.servlet.ServletApp02</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>sun.jdbc.odbcDriver</param-value>
    </init-param>
    <init-param>
      <param-name>system</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>raman</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletApp02</servlet-name>
    <url-pattern>/config</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.servletapp21.servlet.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
</web-app>